// File for hotel portal webpack cannot resolve font path, but you still need @extend
.icon-handy-icon-trip-advisor-rating:before { 
	content: "\E000" 
}
.icon-handy-icon-trip-advisor-rating-fill:before { 
	content: "\E001" 
}
.icon-handy-icon-user:before { 
	content: "\E002" 
}
.icon-handy-icon-wifi:before { 
	content: "\E003" 
}
.icon-handy-icon-wow:before { 
	content: "\E004" 
}
.icon-handy-icon-wow-1:before { 
	content: "\E005" 
}
.icon-handy-icon-add:before { 
	content: "\E006" 
}
.icon-handy-icon-case:before { 
	content: "\E007" 
}
.icon-handy-icon-clock:before { 
	content: "\E008" 
}
.icon-handy-icon-tripadvisor-hotel:before { 
	content: "\E00E" 
}
.icon-handy-icon-magic:before { 
	content: "\E00F" 
}
.icon-handy-icon-minus:before { 
	content: "\E010" 
}
.icon-handy-icon-alert-1:before { 
	content: "\E013" 
}
.icon-handy-icon-burger-menu:before { 
	content: "\E014" 
}
.icon-handy-icon-caution-exclamation:before { 
	content: "\E015" 
}
.icon-handy-icon-caution-question:before { 
	content: "\E016" 
}
.icon-handy-icon-cloud-upload:before { 
	content: "\E017" 
}
.icon-handy-icon-create-own:before { 
	content: "\E018" 
}
.icon-handyicon-find-share:before { 
	content: "\E01C" 
}
.icon-handyicon-fonta-right:before { 
	content: "\E01D" 
}
.icon-handyicon-down-arrow:before { 
	content: "\E01E" 
}
.icon-handy-icon-arrow-down:before { 
	content: "\E01F" 
}
.icon-handyicon-portal-fail:before { 
	content: "\E020" 
}
.icon-handy-icon-loyalty:before { 
	content: "\E021" 
}
.icon-handy-icon-page-left:before { 
	content: "\E022" 
}
.icon-handy-icon-page-right:before { 
	content: "\E023" 
}
.icon-handy-icon-portal-checkbox:before { 
	content: "\E024" 
}
.icon-handy-icon-portal-checkbox-before:before { 
	content: "\E025" 
}
.icon-handyicon-portal-exit:before { 
	content: "\E027" 
}
.icon-handyicon-portal-guestexp:before { 
	content: "\E028" 
}
.icon-handyicon-portal-guestservices:before { 
	content: "\E029" 
}
.icon-handy-icon-portal-home:before { 
	content: "\E02A" 
}
.icon-handyicon-portal-mice:before { 
	content: "\E02B" 
}
.icon-handyicon-performance:before { 
	content: "\E02C" 
}
.icon-handy-icon-portal-shortcut-handychat:before { 
	content: "\E02E" 
}
.icon-handy-icon-portal-shortcut-handyicon:before { 
	content: "\E02F" 
}
.icon-handy-icon-portal-shortcut-ird:before { 
	content: "\E030" 
}
.icon-handy-icon-portal-shortcut-kpi:before { 
	content: "\E031" 
}
.icon-handy-icon-portal-shortcut-pm:before { 
	content: "\E032" 
}
.icon-handy-icon-portal-shortcut-subhome:before { 
	content: "\E033" 
}
.icon-handyicon-portal-tool:before { 
	content: "\E034" 
}
.icon-handy-icon-satisfaction:before { 
	content: "\E035" 
}
.icon-handy-icon-spending:before { 
	content: "\E036" 
}
.icon-handy-icon-trip-advisor-half:before { 
	content: "\E037" 
}
.icon-handyicon-portal-check:before { 
	content: "\E039" 
}
.icon-handyicon-portal-info:before { 
	content: "\E03A" 
}
.icon-handyicon-portal-minus:before { 
	content: "\E03B" 
}
.icon-handy-icon-rating-heart-empty:before { 
	content: "\E03C" 
}
.icon-handy-icon-rating-heart-fill:before { 
	content: "\E03D" 
}
.icon-handy-icon-search-btn:before { 
	content: "\E03E" 
}
.icon-handy-icon-suitcase:before { 
	content: "\E03F" 
}
.icon-handy-icon-suprise:before { 
	content: "\E040" 
}
.icon-handyicon-fonta-left:before { 
	content: "\E041" 
}
.icon-handyicon-fonta-up:before { 
	content: "\E043" 
}
.icon-handy-icon-handychat-template:before { 
	content: "\E044" 
}
.icon-handy-icon-guest-experience:before { 
	content: "\E80E" 
}
.icon-u21-handy-icon-social-bh-circle-s:before { 
	content: "\EA01" 
}
.icon-u22-handy-icon-social-dr:before { 
	content: "\EA02" 
}
.icon-u23-handy-icon-social-dr-circle:before { 
	content: "\EA03" 
}
.icon-u24-handy-icon-social-dr-circle-s:before { 
	content: "\EA04" 
}
.icon-u25-handy-icon-social-fb:before { 
	content: "\EA05" 
}
.icon-u26-handy-icon-social-fb-circle:before { 
	content: "\EA06" 
}
.icon-u27-handy-icon-social-fb-circle-s:before { 
	content: "\EA07" 
}
.icon-u28-handy-icon-social-gp:before { 
	content: "\EA08" 
}
.icon-u29-handy-icon-social-gp-circle:before { 
	content: "\EA09" 
}
.icon-u2A-handy-icon-social-gp-circle-s:before { 
	content: "\EA0A" 
}
.icon-u2B-handy-icon-social-ig:before { 
	content: "\EA0B" 
}
.icon-u2C-handy-icon-social-ig-circle:before { 
	content: "\EA0C" 
}
.icon-u2D-handy-icon-social-ig-circle-s:before { 
	content: "\EA0D" 
}
.icon-u2E-handy-icon-social-in:before { 
	content: "\EA0E" 
}
.icon-u2F-handy-icon-social-in-circle:before { 
	content: "\EA0F" 
}
.icon-u30-27Feb2018_svg_handy-icon-pbx:before { 
	content: "\EA10" 
}
.icon-u31-handy-icon-phone:before { 
	content: "\EA11" 
}
.icon-u32-handy-icon-pos:before { 
	content: "\EA12" 
}
.icon-u33-handy-icon-remote:before { 
	content: "\EA13" 
}
.icon-u34-handy-icon-right-arrow:before { 
	content: "\EA14" 
}
.icon-u35-handy-icon-right-bracket:before { 
	content: "\EA15" 
}
.icon-u36-handy-icon-service:before { 
	content: "\EA16" 
}
.icon-u37-handy-icon-simcard:before { 
	content: "\EA17" 
}
.icon-u38-handy-icon-social-bh:before { 
	content: "\EA18" 
}
.icon-u39-handy-icon-social-bh-circle:before { 
	content: "\EA19" 
}
.icon-u3A-handy-icon-social-in-circle-s:before { 
	content: "\EA1A" 
}
.icon-u3B-handy-icon-social-ta:before { 
	content: "\EA1B" 
}
.icon-u3C-handy-icon-social-ta-circle:before { 
	content: "\EA1C" 
}
.icon-u3D-handy-icon-social-ta-circle-s:before { 
	content: "\EA1D" 
}
.icon-u3E-handy-icon-social-tw:before { 
	content: "\EA1E" 
}
.icon-u3F-handy-icon-social-tw-circle:before { 
	content: "\EA1F" 
}
.icon-u40-handy-icon-social-tw-circle-s:before { 
	content: "\EA20" 
}
.icon-u41-handy-icon-hospitality:before { 
	content: "\EA21" 
}
.icon-u42-handy-icon-inquiries:before { 
	content: "\EA22" 
}
.icon-u43-handy-icon-partnership:before { 
	content: "\EA23" 
}
.icon-u44-handy-icon-press:before { 
	content: "\EA24" 
}
.icon-u45-handy-icon-technical:before { 
	content: "\EA25" 
}
.icon-u46-handy-icon-form:before { 
	content: "\EA26" 
}
.icon-u47-handy-icon-globe:before { 
	content: "\EA27" 
}
.icon-u48-handy-icon-graph:before { 
	content: "\EA28" 
}
.icon-u49-handy-icon-heart:before { 
	content: "\EA29" 
}
.icon-u4A-handy-icon-idea:before { 
	content: "\EA2A" 
}
.icon-u4B-handy-icon-indicator:before { 
	content: "\EA2B" 
}
.icon-u4C-handy-icon-info:before { 
	content: "\EA2C" 
}
.icon-u4D-handy-icon-infrared:before { 
	content: "\EA2D" 
}
.icon-u4E-handy-icon-innovative:before { 
	content: "\EA2E" 
}
.icon-u4F-handy-icon-invitation:before { 
	content: "\EA2F" 
}
.icon-u50-handy-icon-left-arrow:before { 
	content: "\EA30" 
}
.icon-u51-handy-icon-left-bracket:before { 
	content: "\EA31" 
}
.icon-u52-handy-icon-like:before { 
	content: "\EA32" 
}
.icon-u54-handy-icon-luxos:before { 
	content: "\EA33" 
}
.icon-u55-handy-icon-map:before { 
	content: "\EA34" 
}
.icon-u56-handy-icon-message:before { 
	content: "\EA35" 
}
.icon-u57-handy-icon-mobile-1:before { 
	content: "\EA36" 
}
.icon-u58-handy-icon-network:before { 
	content: "\EA37" 
}
.icon-u59-handy-icon-nfc:before { 
	content: "\EA38" 
}
.icon-u5A-handy-icon-passionate:before { 
	content: "\EA39" 
}
.icon-u5B-handy-icon-social-vi:before { 
	content: "\EA3A" 
}
.icon-u5C-handy-icon-triangle:before { 
	content: "\EA3B" 
}
.icon-u5D-handy-icon-social-vi-circle:before { 
	content: "\EA3C" 
}
.icon-u5E-handy-icon-social-vi-circle-s:before { 
	content: "\EA3D" 
}
.icon-u5F-handy-icon-social-yt:before { 
	content: "\EA3E" 
}
.icon-u60-handy-icon-social-yt-circle:before { 
	content: "\EA3F" 
}
.icon-u61-handyicon-handychat-attachment:before { 
	content: "\EA40" 
}
.icon-u62-handyicon-fonta-leftleft:before { 
	content: "\EA41" 
}
.icon-u63-handyicon-fonta-rightright:before { 
	content: "\EA42" 
}
.icon-u64-handy-icon-ticket:before { 
	content: "\EA43" 
}
.icon-u6B-handyicon-fonta-down:before { 
	content: "\EA44" 
}
.icon-u6C-handy-icon-alert:before { 
	content: "\EA45" 
}
.icon-u6D-handy-icon-ambitious:before { 
	content: "\EA46" 
}
.icon-u6E-handy-icon-arrow-left-long:before { 
	content: "\EA47" 
}
.icon-u6F-handy-icon-arrow-right-long:before { 
	content: "\EA48" 
}
.icon-u70-handy-icon-awareness:before { 
	content: "\EA49" 
}
.icon-u71-handy-icon-barchart:before { 
	content: "\EA4A" 
}
.icon-u72-handy-icon-battery:before { 
	content: "\EA4B" 
}
.icon-u73-handy-icon-bed:before { 
	content: "\EA4C" 
}
.icon-u74-handy-icon-bell:before { 
	content: "\EA4D" 
}
.icon-u75-handy-icon-cart:before { 
	content: "\EA4E" 
}
.icon-u76-handy-icon-cityguide:before { 
	content: "\EA4F" 
}
.icon-u77-handy-icon-cloud:before { 
	content: "\EA50" 
}
.icon-u78-handy-icon-dinning:before { 
	content: "\EA51" 
}
.icon-u79-handy-icon-advertising:before { 
	content: "\EA52" 
}
.icon-u7A-handy-icon-career:before { 
	content: "\EA53" 
}
.icon-u7B-handy-icon-social-yt-circle-s:before { 
	content: "\EA54" 
}
.icon-u7C-handy-icon-support:before { 
	content: "\EA55" 
}
.icon-u7D-handy-icon-telescope:before { 
	content: "\EA56" 
}
.icon-u7E-handy-icon-plus:before { 
	content: "\EA57" 
}
.icon-handy-icon-sent:before { 
	content: "\EA58" 
}
.icon-handy-icon-code:before { 
	content: "\EA59" 
}
.icon-svg-91:before { 
	content: "\EA5A" 
}
.icon-handy-icon-chip:before { 
	content: "\EA5B" 
}
.icon-handy-icon-doorlock:before { 
	content: "\EA5C" 
}
.icon-handy-icon-livechat:before { 
	content: "\EA5D" 
}
.icon-handy-icon-all-in-one-phone:before { 
	content: "\EA5E" 
}
.icon-handy-icon-chat:before { 
	content: "\EA5F" 
}
.icon-handy-icon-concierge-chat:before { 
	content: "\EA60" 
}
.icon-handy-icon-customer-service:before { 
	content: "\EA61" 
}
.icon-handy-icon-d2:before { 
	content: "\EA62" 
}
.icon-handy-icon-digital-concierge:before { 
	content: "\EA63" 
}
.icon-handy-icon-express-checkout:before { 
	content: "\EA64" 
}
.icon-handy-icon-handy-integration:before { 
	content: "\EA65" 
}
.icon-handy-icon-hotel-portal:before { 
	content: "\EA66" 
}
.icon-handy-icon-keyless:before { 
	content: "\EA67" 
}
.icon-handy-icon-music:before { 
	content: "\EA68" 
}
.icon-handy-icon-router:before { 
	content: "\EA69" 
}
.icon-handy-icon-speaker:before { 
	content: "\EA6A" 
}
.icon-handy-icon-suite:before { 
	content: "\EA6B" 
}
.icon-handy-icon-t2:before { 
	content: "\EA6C" 
}
.icon-handy-icon-voice-control:before { 
	content: "\EA6D" 
}
.icon-handyicon-playbtn:before { 
	content: "\EA6E" 
}
.icon-handy-icon-hotel:before { 
	content: "\EA6F" 
}
.icon-handy-icon-inroom-control:before { 
	content: "\EA70" 
}
.icon-handy-icon-ir-control:before { 
	content: "\EA71" 
}
.icon-handy-icon-image:before { 
	content: "\EA72" 
}
.icon-handy-icon-tick:before { 
	content: "\EA73" 
}
.icon-handy-icon-copy:before { 
	content: "\EA74" 
}
.icon-handy-icon-order:before { 
	content: "\EA75" 
}
.icon-handy-icon-portal-communications:before { 
	content: "\EA76" 
}
.icon-handy-icon-portal-order:before { 
	content: "\EA77" 
}