@charset "UTF-8";

@font-face {
  font-family: "handy";
  src:url("fonts/handy.eot");
  src:url("fonts/handy.eot?#iefix") format("embedded-opentype"),
    url("fonts/handy.woff") format("woff"),
    url("fonts/handy.ttf") format("truetype"),
    url("fonts/handy.svg#handy") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "handy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "handy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-handy-icon-alert:before {
  content: "\61";
}
.icon-handy-icon-arrow-left-long:before {
  content: "\63";
}
.icon-handy-icon-arrow-right-long:before {
  content: "\64";
}
.icon-handy-icon-awareness:before {
  content: "\65";
}
.icon-handy-icon-barchart:before {
  content: "\66";
}
.icon-handy-icon-bell:before {
  content: "\69";
}
.icon-handy-icon-cart:before {
  content: "\6a";
}
.icon-handy-icon-cloud:before {
  content: "\6c";
}
.icon-handy-icon-dinning:before {
  content: "\6d";
}
.icon-handy-icon-globe:before {
  content: "\6f";
}
.icon-handy-icon-graph:before {
  content: "\70";
}
.icon-handy-icon-heart:before {
  content: "\71";
}
.icon-handy-icon-idea:before {
  content: "\72";
}
.icon-handy-icon-indicator:before {
  content: "\73";
}
.icon-handy-icon-info:before {
  content: "\74";
}
.icon-handy-icon-innovative:before {
  content: "\76";
}
.icon-handy-icon-left-arrow:before {
  content: "\78";
}
.icon-handy-icon-left-bracket:before {
  content: "\79";
}
.icon-handy-icon-like:before {
  content: "\7a";
}
.icon-handy-icon-live-chat:before {
  content: "\41";
}
.icon-handy-icon-luxos:before {
  content: "\42";
}
.icon-handy-icon-map:before {
  content: "\43";
}
.icon-handy-icon-network:before {
  content: "\46";
}
.icon-handy-icon-passionate:before {
  content: "\48";
}
.icon-handy-icon-pbx:before {
  content: "\49";
}
.icon-handy-icon-phone:before {
  content: "\4a";
}
.icon-handy-icon-pos:before {
  content: "\4b";
}
.icon-handy-icon-remote:before {
  content: "\4c";
}
.icon-handy-icon-right-arrow:before {
  content: "\4d";
}
.icon-handy-icon-right-bracket:before {
  content: "\4e";
}
.icon-handy-icon-service:before {
  content: "\4f";
}
.icon-handy-icon-simcard:before {
  content: "\50";
}
.icon-handy-icon-social-bh:before {
  content: "\51";
}
.icon-handy-icon-social-bh-circle:before {
  content: "\52";
}
.icon-handy-icon-social-bh-circle-s:before {
  content: "\53";
}
.icon-handy-icon-social-dr:before {
  content: "\54";
}
.icon-handy-icon-social-dr-circle:before {
  content: "\55";
}
.icon-handy-icon-social-dr-circle-s:before {
  content: "\56";
}
.icon-handy-icon-social-fb:before {
  content: "\57";
}
.icon-handy-icon-social-fb-circle:before {
  content: "\58";
}
.icon-handy-icon-social-fb-circle-s:before {
  content: "\59";
}
.icon-handy-icon-social-gp:before {
  content: "\5a";
}
.icon-handy-icon-social-gp-circle:before {
  content: "\30";
}
.icon-handy-icon-social-gp-circle-s:before {
  content: "\31";
}
.icon-handy-icon-social-ig-circle:before {
  content: "\33";
}
.icon-handy-icon-social-ig-circle-s:before {
  content: "\34";
}
.icon-handy-icon-social-in:before {
  content: "\35";
}
.icon-handy-icon-social-in-circle:before {
  content: "\36";
}
.icon-handy-icon-social-in-circle-s:before {
  content: "\37";
}
.icon-handy-icon-social-ta:before {
  content: "\38";
}
.icon-handy-icon-social-ta-circle:before {
  content: "\39";
}
.icon-handy-icon-social-ta-circle-s:before {
  content: "\21";
}
.icon-handy-icon-social-tw:before {
  content: "\22";
}
.icon-handy-icon-social-tw-circle:before {
  content: "\23";
}
.icon-handy-icon-social-tw-circle-s:before {
  content: "\24";
}
.icon-handy-icon-social-vi:before {
  content: "\25";
}
.icon-handy-icon-social-vi-circle:before {
  content: "\26";
}
.icon-handy-icon-social-vi-circle-s:before {
  content: "\27";
}
.icon-handy-icon-social-yt:before {
  content: "\28";
}
.icon-handy-icon-social-yt-circle:before {
  content: "\29";
}
.icon-handy-icon-social-yt-circle-s:before {
  content: "\2a";
}
.icon-handy-icon-support:before {
  content: "\2b";
}
.icon-handy-icon-ticket:before {
  content: "\2d";
}
.icon-handy-icon-trip-advisor-rating:before {
  content: "\2e";
}
.icon-handy-icon-trip-advisor-rating-fill:before {
  content: "\2f";
}
.icon-handy-icon-user:before {
  content: "\3a";
}
.icon-handy-icon-wifi:before {
  content: "\3b";
}
.icon-handy-icon-wow:before {
  content: "\3c";
}
.icon-handy-icon-wow-1:before {
  content: "\3d";
}
.icon-handy-icon-ambitious:before {
  content: "\62";
}
.icon-handy-icon-cityguide:before {
  content: "\6b";
}
.icon-handy-icon-form:before {
  content: "\6e";
}
.icon-handy-icon-infrared:before {
  content: "\75";
}
.icon-handy-icon-invitation:before {
  content: "\77";
}
.icon-handy-icon-message:before {
  content: "\44";
}
.icon-handy-icon-mobile-1:before {
  content: "\3e";
}
.icon-handy-icon-nfc:before {
  content: "\45";
}
.icon-handy-icon-telescope:before {
  content: "\47";
}
.icon-handy-icon-technical:before {
  content: "\2c";
}
.icon-handy-icon-press:before {
  content: "\3f";
}
.icon-handy-icon-partnership:before {
  content: "\40";
}
.icon-handy-icon-hospitality:before {
  content: "\5b";
}
.icon-handy-icon-inquiries:before {
  content: "\5d";
}
.icon-handy-icon-career:before {
  content: "\5e";
}
.icon-handy-icon-advertising:before {
  content: "\5f";
}
.icon-handy-icon-handychat-avatar:before {
  content: "\60";
}
.icon-handy-icon-handychat-conversation:before {
  content: "\7b";
}
.icon-handy-icon-handychat-history:before {
  content: "\7c";
}
.icon-handy-icon-handychat-template:before {
  content: "\7d";
}
.icon-handy-icon-rating-heart-fill:before {
  content: "\5c";
}
.icon-handy-icon-search-btn:before {
  content: "\e000";
}
.icon-handy-icon-minus:before {
  content: "\e001";
}
.icon-handy-icon-plus:before {
  content: "\e002";
}
.icon-handy-icon-add:before {
  content: "\7e";
}
.icon-handy-icon-case:before {
  content: "\e003";
}
.icon-handy-icon-clock:before {
  content: "\e004";
}
.icon-handy-icon-suprise:before {
  content: "\e005";
}
.icon-handy-icon-suitcase:before {
  content: "\e006";
}
.icon-handy-icon-rating-heart-empty:before {
  content: "\e007";
}
.icon-handy-icon-magic:before {
  content: "\e008";
}
.icon-handy-icon-social-ig:before {
  content: "\32";
}
.icon-handy-icon-create-own:before {
  content: "\e00a";
}
.icon-handy-icon-guest-experience:before {
  content: "\e00b";
}
.icon-handy-icon-loyalty:before {
  content: "\e00c";
}
.icon-handy-icon-satisfaction:before {
  content: "\e00d";
}
.icon-handy-icon-spending:before {
  content: "\e00e";
}
.icon-handy-icon-triangle:before {
  content: "\e00f";
}
.icon-handy-icon-alert-1:before {
  content: "\e010";
}
.icon-handy-icon-cross:before {
  content: "\e009";
}
.icon-handy-icon-rocket:before {
  content: "\e012";
}
.icon-handyicon-close:before {
  content: "\e013";
}
.icon-handy-icon-trip-advisor-half:before {
  content: "\e011";
}
.icon-rocketicon:before {
  content: "\e014";
}
.icon-handy-icon-dashboard-dining:before {
  content: "\e015";
}
.icon-handy-icon-dashboard-message:before {
  content: "\e016";
}
.icon-handy-icon-dashboard-smile:before {
  content: "\e017";
}
.icon-handy-icon-tripadvisor-hotel:before {
  content: "\e018";
}
.icon-handyicon-portal-info:before {
  content: "\e01a";
}
.icon-handyicon-portal-minus:before {
  content: "\e01d";
}
.icon-handyicon-down-arrow:before {
  content: "\e01e";
}
.icon-handyicon-portal-exit:before {
  content: "\e019";
}
.icon-handyicon-portal-mice:before {
  content: "\e01b";
}
.icon-handyicon-performance:before {
  content: "\e01c";
}
.icon-handyicon-portal-tool:before {
  content: "\e01f";
}
.icon-handyicon-portal-guestexp:before {
  content: "\e020";
}
.icon-handyicon-portal-pm-compose:before {
  content: "\e022";
}
.icon-handyicon-portal-fail:before {
  content: "\e021";
}
.icon-handyicon-portal-check:before {
  content: "\e023";
}
.icon-handy-icon-arrow-down:before {
  content: "\e024";
}
.icon-handyicon-fonta-down:before {
  content: "\e025";
}
.icon-handyicon-fonta-right:before {
  content: "\e026";
}
.icon-handyicon-fonta-left:before {
  content: "\e028";
}
.icon-handy-icon-bed:before {
  content: "\68";
}
.icon-handy-icon-battery:before {
  content: "\67";
}
.icon-handyicon-find-share:before {
  content: "\e029";
}
.icon-up:before {
  content: "\e027";
}
.icon-handy-icon-caution-exclamation:before {
  content: "\e02a";
}
.icon-handy-icon-caution-question:before {
  content: "\e02b";
}
.icon-handy-icon-cloud-upload:before {
  content: "\e02c";
}
.icon-handy-icon-page-left:before {
  content: "\e02d";
}
.icon-handy-icon-page-right:before {
  content: "\e02e";
}
